.detail-con-lf {
  float: left;
  width: 260px;
  margin-right: 20px;
  div{
    margin-top: 15px;
    img{
      width: 260px;
    }
  }
  .shop-class-box{
    .shop-nav3{
      color:#333;
      font-size:20px;
      line-height: 20px;
      font-weight: bold;
      i{
        background: #e83428;
        width: 4px;
        height: 20px;
        display: inline-block;
        margin:0 10px -3px 0;
      }
    }
    .shop-con{
      background: #fff;
      margin-top: 15px;
      padding-bottom: 18px;
      .brand-dl{
        padding:18px 14px 0;
        font-size: 14px;
        dt{
          background:#f5f5f5;
          padding-left:15px;
          height: 30px;
          line-height: 30px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          border-radius: 6px;
        }
        dd{
          height: 35px;
          line-height: 35px;
          border-bottom:#f5f5f5 solid 1px;
          text-align: left;
          cursor: pointer;
          padding-left: 42px;
        }
        dd a{
          color:#000;
        }
        dd a:hover{
          color:#ed3f36;
        }
      }
    }
  }
}

.detail-cont {
  padding-bottom: 20px;
  width: 920px;
  float: left;
  background-color: #fff;
}
.detail-cont1200{
  width: 1200px;
  .detail-tab{
    width: 1196px;
  }
}

.detail-bar {
  height: 46px;
  border-bottom: #dedede solid 1px;
  font-family: SimSun;
  font-size: 12px;
  color: #9f9f9f;
  .detail-center {
    width: 990px;
    margin: 0 auto;
    .detail-item {
      line-height: 46px;
      height: 46px;
      strong {
        display: inline;
        font-weight: bold;
      }
      strong a {
        color: #e4453f;
      }
      span {
        font-weight: bold;
        color: #676a6c
      }
    }
  }
}

.choose-color .selected b, .shop-address i, .fuel-card dd i, .qiang-buy .time-out i, .end-time i, .bargain-price i,.tuikuan i, .sale-after i, .promise i, .pay-worry i, .car-mao-price i, .car-mao-price b, .time-down .time-out i, .time-down .car-surplus i {
  background: url(img/detail-icon1.png) no-repeat;
  display: inline-block
}



.mar-top10 {
  margin-top: 10px;
}
.cartype-3 .mar-top0{
  margin-top: 0;
}
.pad-lf10{
  padding-left:10px;
}
.detail-product {
  padding: 0 12px 20px 8px;
  background: #fff;
  border-bottom: #eee solid 1px;
  padding-bottom: 40px;
  color: #535353;
  font-family: '微软雅黑';
  overflow: hidden;
  .detail-lit {
    position: relative;
    padding: 15px 0 15px 0px;
    border-bottom: #d8d8d8 dotted 1px;
    .lit-img,.lit-tit{
      float:left;
      display: inline-block;
    }
    .lit-tit{
      h1 {
        font-size: 22px;
        line-height: 40px;
        color: #000;
      }
      p{
        font-size: 13px;
        color: #666;
        line-height: 20px;
        max-width: 880px;
      }
    }

    .shop-box {
      position: absolute;
      right: 0;
      z-index: 10;
      height: 48px;
      font-size: 16px;
      .shop-hd {
        position: relative;
        padding: 0 55px 0 30px;
        min-width: 156px;
        border: #c9c9c9 solid 1px;
        height: 46px;
        line-height: 46px;
        font-size: 16px;
        font-weight: bold;
        max-width: 245px;
        color: #afafaf;
        float: right;
        cursor: pointer;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .shop-hd-name{
        color: #333333;
      }
      .enter-shop i, .online-ser i {

      }
      .online-ser {

        position: absolute;
        cursor: default;
        top: 0px;
        right: 12px;
        width: 45px;
        height: 100%;
        display: inline-block;
        background-image: url(img/22.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px auto;
      }

      .shop-floor {
        position: absolute;
        top: 47px;
        right: 0;
        background: #fff;
        display: none;
        width: 100%;
        .shop-inline{
          padding: 2px 20px 25px;
          border: #c9c9c9 solid 1px;
          border-top: none;
          text-align: center;
        }
        .qr-code {
          padding-top: 10px;
          .code-img{
            img{
              width: 120px;
              height:120px;
            }
          }
          .code-font {
            font-size: 14px;
            padding-top: 5px;
          }
        }
        .company-item1{
          margin: 0 10px;
          border-bottom:#c9c9c9 solid 1px;
        }
        .company-info {
          font-size: 14px;
          text-align: center;

          .img-logo {

            height: 80px;
            text-align: center;
            img {
              max-width: 180px;
              height: 80px;
            }
          }
          .ser-phone{
            padding-top: 15px;
            font-size:16px;
            font-weight: bold;
            color:#656565;
          }
          .grade-img {
            background: url("img/shop-ren.png") no-repeat;
          }
          .xiaozi i{
            background: url("img/shop-icon2.png") no-repeat;
          }
          .grade {
            padding: 20px 0 20px;
            overflow: hidden;
            line-height: 27px;
            font-size:16px;
            span {
              display: inline-block;
            }
            .grade-img{
              width: 44px;
              height: 32px;
              vertical-align: middle;
            }

            .grade-num {
              padding-left:10px;
              color:#323232;
              em{
                color:#ff8e3a;
                padding-left: 3px;
              }
            }
          }
          .xiaozi{
            i{
              background-position: 0 -27px;
              width: 22px;
              height: 17px;
              margin: 0 10px -2px 0;
              display: inline-block;
            }
            font-size:12px;
            padding-top: 15px;
          }
          .enter-dian {
            padding-top: 10px;
            a{
              width: 120px;
              height: 32px;
              line-height: 32px;
              font-size: 15px;
              text-align: center;
              background: #ff0000;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              color:#fff;
              display: inline-block;
            }

          }

        }
      }
    }
    .shop-open{
      .company-name{
        color:#ff0000;
        border-bottom:none;
      }
      .shop-hd-name{
        color:#ff0000;
      }
      .shop-floor{
        display: block;
      }
    }


  }
  .detail-ctbox{
    position: relative;
    min-height: 650px;
    margin-top: 10px;
    overflow: hidden;
  }

  .detail-lf {
    width: 500px;
    position: absolute;
    left:0;
    top:0;
  }
  .detail-rt {
    width: 656px;
    position: relative;
    top:0;
    margin-left: 520px;

  }
}

.flow-chart {
  height: 162px;
  border-bottom: #cacaca dotted 1px;
  dt {
    float: left;
    padding: 80px 14px 0 0;
    font-size: 18px;
  }
  dd {
    float: left;
    padding-top: 40px;
  }
}

/***detail tab****/
.mar-top20 {
  margin-top: 20px;
}

.detail-tab {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  width: 916px;
  padding-left: 4px;
  background: #f60023;
}

.detail-tab li {
  width: 128px;
  float: left;
}

.detail-tab li a {
  display: block;
  width: 127px;
  border-right: #eb7086 solid 1px;
  color: #fff;
  color: #fff;
  float: left;
  text-align: center
}

.detail-tab li.active a, .detail-tab li a:hover {
  width: 127px;
  border: none;
  display: inline-block;
  color: #fff;
  height: 44px;
  background: #fff;
  color: #f60023;
  border-top: #f60023 solid 4px
}

.detail-class {
  height: 40px;
  margin-top: 10px;

}

.class-item {
  width: 114px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #000;
  font-size: 18px;

}

.detail-con-box {
  padding: 10px 0;
}

.detail-tab-wrap {
  display: none;
  width: 100%;
  height: 101px;
  border-bottom: #dd1338 solid 3px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 86;
}

.detail-tab-con {
  width: 1200px;
  margin: 0 auto;
  position: relative
}

.detail-tab-head {
  height: 73px;
  position: relative
}

.detail-tab-name {
  position: relative;
  height: 73px;
  width: 498px;
  line-height: 30px;
  font-size: 22px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  span {
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;

  }
}

.detail-tab-price {
  position: absolute;
  padding-right: 200px;
  width: 529px;
  padding-top: 18px;
  right: 0;
  top: 0;
  text-align: right;
  line-height: 30px;
  .goods1, .goods2, .goods3, .goods4 {
    position: absolute;
    right: 0;
    top:10px;
  }
  .detail-mao2 {
    display: inline-block;
    width: 55px;
    height: 20px;
    line-height: 20px;
    background: #e2110d;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 6px;
  }
  .priceEm{
    float: right;
    margin-left: 10px;
  }
  .mao-price2 {
    color: #e2110d;
    position: relative;
    top: 4px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 5px;
    strong {
      font-size: 34px;
    }
    em {
      font-size: 20px;
      color: #5e5e5e;
      font-weight: normal
    }
  }
}

.detail-tab-but {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background: #dd1136;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}

.btn-remind,.btn-green {
  background: #FF8D00;
}
.btn-success {
  background: #dd1136;
}
.btn-disable {
  background: #CBC7C2;
}

.detail-pos-tab {
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  background: #f5f5f5;
}

.detail-pos-tab li {
  width: 112px;
  float: left;
}

.detail-pos-tab li a {
  display: block;
  width: 111px;
  height: 27px;
  color: #333;
  float: left;
  text-align: center
}

.detail-pos-tab li.active a, .detail-pos-tab li a:hover {
  width: 111px;
  border: none;
  display: inline-block;
  color: #fff;
  height: 27px;
  background: #f60023;
  color: #fff;
}

.autoparam .detail-con-box {
  padding: 0;
}

.detail-subtitle {
  background: #e2110d;
  width: 137px;
  padding-left: 15px;
  line-height: 22px;
  margin: 30px 0 0 10px;
  color: #fff;
}

.detail-table {
  margin: 10px 1% 0 1%;
  width: 98%;
  border-top: #c6c6c6 solid 1px;
  border-left: #c6c6c6 solid 1px;
  tr {
    height: 33px;
  }
  td {
    border-right: #c6c6c6 solid 1px;
    border-bottom: #c6c6c6 solid 1px;
    padding: 0 7px;
    line-height: 33px;
    min-width: 50px;
    width:15%;

  }
  .bg {
    background: #f2f2f1;
    width: 18%;
  }
}

.now-sale {
  background: url("img/home-bg3.jpg") repeat-x;
  width: 990px;
  margin: 40px auto 0;
  height: 50px;
  .now-sale-sec {
    background: url("img/home.png") no-repeat;
    background-position: 0 -110px;
    width: 184px;
    height: 50px;
    line-height: 50px;
    padding-left: 26px;
    color: #fff;
    font-size: 26px;
  }
}

.limited-sale {
  width: 990px;
  margin: 10px auto;
  overflow: hidden;
  ul {
    width: 1002px;
  }
  li {
    width: 492px;
    height: 209px;
    margin-right: 6px;
    float: left;
    position: relative;
    a {
      display: block;

      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .box-bt {
      width: 100%;
      height: 40px;
      line-height: 40px;

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    .box-bt-bg {
      filter: alpha(opacity=40);
      opacity: 0.4;
      background: #000;
    }
    .box-bt-txt {
      z-index: 2;
      color: #fff;
      font-size: 16px;
      padding-left: 10px;

    }
    .limited-info {
      position: absolute;
      left: 28px;
      top: 25px;
      padding: 0 10px;
      background: #dd1136;
      transform: skew(-10deg);
      -ms-transform: skew(-10deg);
      -moz-transform: skew(-10deg);
      -webkit-transform: rotateskew(-10deg);
      -o-transform: skew(-10deg);
      color: #fff;
      border-radius: 5px;
      height: 29px;
      line-height: 29px;
      font-size: 13px;
      em {
        font-size: 17px;
      }

    }
  }
}

.hotline {
  font-size: 16px;
  line-height: 28px;
  color: #dd1136;
  position: absolute;
  bottom: 0;
  right: 20px;
  font-weight: 700;
}

.dis-con{
  background: #fff;
  padding:0 36px;
}
.dis-list{
  padding:15px 0;
  height: 40px;
  border-bottom:#ebebeb dotted 1px;
}
.dis-list li{
  background: #fdedde;
  width: 114px;
  height: 40px;
  line-height: 40px;
  font-size:14px;
  font-weight: bold;
  color:#e83428;
  text-align: center;
  margin-right:8px;
  cursor: pointer;
  float:left;
}
.dis-list li.bad-dis{
  background: #e3e3e3;
  color:#6b6b6b;
}
.dis-list li.active{
  background:#FDED9F;
  color:#e83428;
}
.satis{
  padding:15px 0;
  height:32px;
  .head-portrait{
    float:left;
    img{
      width:32px;
      height: 32px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;

    }
  }
  .agree{
    float: left;
    padding-left:20px;
    line-height:32px;
    font-size:15px;
    dt,dd{float: left; padding-right: 8px;}
    dd{
      color:#666;
    }
    label{
      padding-left:8px;
    }
  }
}

.dis-login{
  width: 846px;
  height: 200px;
  background: #f5f5f5;
  p{
    text-align: center;
    line-height: 200px;
    font-size: 14px;
    a{
      color:#ed3f36;
    }
  }
}
.dis-login2{

  height: 72px;
  background: #f5f5f5;

  p{
    text-align: center;
    line-height: 72px;
    font-size: 14px;
    a{
      color:#ed3f36;
    }
  }
}

.dis-text{
  width:826px;

  .dis-input{
    width: 100%;
    background:#f5f5f5;
    height: 200px;
    padding:10px;
    border:0;
    resize:none;
  }
}
.btn-wrap{
  padding:10px 0;
  .btn-primary{
    float:right;
    width: 98px;
    height:36px;
    line-height: 36px;
    background:#df4036;
    color:#fff;
    font-size:16px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor:pointer;
    border:0;

  }
  .font-num{
    float:right;
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    font-size:15px;
    color:#666;
  }
}
.dis-item{
  border-top:#eaeaea dotted 1px;
  padding:20px 0;
  position: relative;
  .header{
    width:32px;
    height: 32px;
    float: left;
    img{
      width: 32px;
      height: 32px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
    }
  }
  .dis-info{
    padding-left:47px;
    .dis-name{
      color:#ed3f36;
      font-size:15px;

    }
    i{
      padding-left:20px;
      color:#999;
      font-size:12px;
      font-style: normal;
    }
    p{
      padding-top: 10px;
    }
    .satis-extent{
      font-size:14px;
      color:#f4892a;
    }
    .comment-con{
      color:#333;
      font-size:14px;
      word-wrap:break-word;
    }
  }
  .cite .huifu i,.cite .zan i,.cite .select i,.cite .huifu:hover i,.cite .zan:hover i{
    background: url("img/icon-zan.png") no-repeat;
    width: 17px;
    height: 14px;
    display: inline-block;
  }

  .cite{
    position: absolute;
    top:38px;
    right:0;
    font-size: 14px;
    color:#999;
    .huifu{
      padding-right:20px;
      cursor: pointer;
      i{
        margin: 0 8px -3px 0;

      }
    }
    .zan{
      cursor: pointer;
      i{
        background-position: 0 -34px;
        margin: 0 8px -2px 0;
      }
    }
  }
  .cite .huifu:hover i{
    background-position: 0 -15px;
  }
  .cite .zan:hover i,.cite .select i{
    background-position: 0 -50px;
  }
  .reply-box{
    margin-top: 10px;
    position: relative;
    .reply-text{
      width: 97%;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border:#dbdbdb solid 1px;
      height: 72px;
      padding:10px;
      resize:none
    }
    .reply-wrap{
      padding-top:15px;
      .btn-primary{
        float:right;
        width: 98px;
        height:36px;
        line-height: 36px;
        background:#df4036;
        color:#fff;
        font-size:16px;
        text-align: center;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        cursor:pointer;
        border:0;

      }
      .font-num{
        float:right;
        height: 36px;
        line-height: 36px;
        margin-right: 10px;
        font-size:15px;
        color:#666;
      }

    }
  }

}
.wrap-pin{
  .dis-item{
    padding-left:85px;
    padding-right:10px;
  }
}
.page-box{
  padding:15px 0;
  border-top:#eaeaea dotted 1px;
  text-align: right;
  .page-list{
    float:right;
  }
  li {
    float: left;
    padding-right:9px;
    a{
      display: block;
      border:#e6e6e6 solid 1px;
      padding:0 10px;
      font-size:15px;
      min-width: 14px;
      text-align: center;
      height: 34px;
      line-height:34px;

    }
    a:hover{
      color:#df4036;
    }
    .active{
      color:#df4036;
    }
  }
}
.detail-plist{
  img{
    max-width: 100%;
  }
  .pcContent img{
    width: 100%;
  }
}
